<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelMe</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../static/style.css">

</head>

<body onload="load()"> 
    <nav class="navBar" id="navBar"></nav>

    <header>
        <h2 id="pagesHeader">My Hikes - Counsler</h2>
    </header>

     <img class="backgroundImg" src="../static/images/background.png" alt="backgroundImg" />

    <table class="hikes-table" id="hikes-table-counselor">
        <tr>
            <th>Hike Date</th>
            <th>Area</th>
            <th>Number of Participants</th>
            <th>Participants Age Group</th>
            <th>Hike Details</th>
            <th>Salary</th>
            <th>Hike Organizer</th>
            <th>Organizer Phone Number</th>
        </tr>
    </table>

 <script src="../static/java-script.js"></script>
</body>
</html>